name: Node.js CI/CD

on:
  push:
    branches: ['main']

jobs:
  build_nestjs:
    name: Build NestJS Project
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci --only=production
        run: npm install -g @nestjs/cli@^10.0.0
        run: |
            touch .production.env
            echo "${{ secrets.PROD_ENV_FILE }}" > .production.env

      - name: Build NestJS project
        run: |
          npm run buildCICD
          if [ $? -ne 0 ]; then exit 1; fi

  build_docker:
    name: Build and Push Docker Image
    needs: [build_nestjs]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Build and Push Docker Image
        uses: mr-smithers-excellent/docker-build-push@v6
        with:
          image: quoctin266/swdcicd
          tags: latest
          registry: docker.io
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # - name: Log in to Docker Hub
      #   uses: docker/login-action@v3
      #   with:
      #     username: ${{ secrets.DOCKER_USERNAME }}
      #     password: ${{ secrets.DOCKER_PASSWORD }}

      # - name: Build Docker image
      #   run: |
      #     docker build -t quoctin266/demoswd .

      # - name: Push Docker image to Docker Hub
      #   run: |
      #     docker push yourdockerhubusername/yourimagename

  # deploy:
  #   name: Deploy
  #   runs-on: ubuntu-latest

  #   steps:
  #     - name: Deploy to production
  #       uses: johnbeynon/render-deploy-action@v0.0.8
  #       with:
  #         service-id: ${{ secrets.SERVICE_ID }}
  #         api-key: ${{ secrets.RENDER_API_KEY }}
